python/.env
*.egg-info
__pycache__
python/go2-webrtc-env
*.bin
*venv*

server.crt
server.key
example.bin
javascript/assets/tmp/
.DS_Store
.idea/
/javascript/webrtc_config.json
/내부네트워크.txt
/내부네트워크_python.txt
/외부네트워크.txt
/외부네트워크_python.txt
